[submodule "Client"]
	path = YourGameClient
	url = git@github.com:SAM-tak/GaaSTemplateForUnityAndDotNetClient.git
[submodule "Server"]
	path = YourGameServer
	url = git@github.com:SAM-tak/GaaSTemplateForUnityAndDotNetServer.git
