[submodule "YourGameClient"]
	path = YourGameClient
	url = git@github.com:SAM-tak/GaaSTemplateForUnityAndDotNetClient.git
[submodule "YourGameServer"]
	path = YourGameServer
	url = git@github.com:SAM-tak/GaaSTemplateForUnityAndDotNetServer.git
